---
http_interactions:
- request:
    method: post
    uri: https://porkbun.com/api/json/v3/dns/delete/deanpcmad.dev/253421437
    body:
      encoding: UTF-8
      string: '{"apikey":"<API_KEY>","secretapikey":"<API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      content-language:
      - en-US, en
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS"}'
  recorded_at: Sat, 01 Jun 2024 18:30:24 GMT
recorded_with: VCR 6.2.0
