---
http_interactions:
- request:
    method: post
    uri: https://porkbun.com/api/json/v3/dns/retrieve/deanpcmad.dev
    body:
      encoding: UTF-8
      string: '{"apikey":"<API_KEY>","secretapikey":"<API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      content-language:
      - en-US, en
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS","cloudflare":"enabled","records":[{"id":"253421437","name":"*.deanpcmad.dev","type":"CNAME","content":"pixie.porkbun.com","ttl":"600","prio":null,"notes":null},{"id":"253421425","name":"deanpcmad.dev","type":"NS","content":"maceio.porkbun.com","ttl":"86400","prio":null,"notes":null},{"id":"253421426","name":"deanpcmad.dev","type":"NS","content":"salvador.porkbun.com","ttl":"86400","prio":null,"notes":null},{"id":"253421427","name":"deanpcmad.dev","type":"NS","content":"fortaleza.porkbun.com","ttl":"86400","prio":null,"notes":null},{"id":"253421428","name":"deanpcmad.dev","type":"NS","content":"curitiba.porkbun.com","ttl":"86400","prio":null,"notes":null}]}'
  recorded_at: Sat, 01 Jun 2024 18:17:02 GMT
recorded_with: VCR 6.2.0
