---
http_interactions:
- request:
    method: post
    uri: https://porkbun.com/api/json/v3/domain/addUrlForward/deanpcmad.dev
    body:
      encoding: UTF-8
      string: '{"domain":"deanpcmad.dev","location":"https://deanpcmad.com","type":"temporary","includePath":"yes","wildcard":"no","apikey":"<API_KEY>","secretapikey":"<API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      content-language:
      - en-US, en
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS"}'
  recorded_at: Sat, 01 Jun 2024 18:04:38 GMT
recorded_with: VCR 6.2.0
