---
http_interactions:
- request:
    method: post
    uri: https://porkbun.com/api/json/v3/domain/getNs/deanpcmad.dev
    body:
      encoding: UTF-8
      string: '{"apikey":"<API_KEY>","secretapikey":"<API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      content-language:
      - en-US, en
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS","ns":["curitiba.ns.porkbun.com","fortaleza.ns.porkbun.com","maceio.ns.porkbun.com","salvador.ns.porkbun.com"]}'
  recorded_at: Sat, 01 Jun 2024 16:59:54 GMT
recorded_with: VCR 6.2.0
