---
http_interactions:
- request:
    method: post
    uri: https://porkbun.com/api/json/v3/domain/listAll
    body:
      encoding: UTF-8
      string: '{"apikey":"<API_KEY>","secretapikey":"<API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      content-language:
      - en-US, en
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS","domains":[{"domain":"deanpcmad.dev","status":"ACTIVE","tld":"dev","createDate":"2022-08-23
        07:34:09","expireDate":"2024-08-23 07:34:09","securityLock":"1","whoisPrivacy":"1","autoRenew":"1","notLocal":0}]}'
  recorded_at: Sat, 01 Jun 2024 16:53:57 GMT
recorded_with: VCR 6.2.0
