---
http_interactions:
- request:
    method: post
    uri: https://porkbun.com/api/json/v3/dns/create/deanpcmad.dev
    body:
      encoding: UTF-8
      string: '{"type":"A","content":"1.2.3.4","name":"test2","apikey":"<API_KEY>","secretapikey":"<API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      content-language:
      - en-US, en
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS","id":404108078}'
  recorded_at: Sat, 01 Jun 2024 18:18:05 GMT
recorded_with: VCR 6.2.0
