---
http_interactions:
- request:
    method: post
    uri: https://porkbun.com/api/json/v3/dns/retrieveByNameType/deanpcmad.dev/CNAME/*
    body:
      encoding: UTF-8
      string: '{"apikey":"<API_KEY>","secretapikey":"<API_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      content-language:
      - en-US, en
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS","cloudflare":"enabled","records":[{"id":"253421437","name":"*.deanpcmad.dev","type":"CNAME","content":"pixie.porkbun.com","ttl":"600","prio":null,"notes":null}]}'
  recorded_at: Sat, 01 Jun 2024 18:23:16 GMT
recorded_with: VCR 6.2.0
